
@keyframes galleryAnimation {
  0%{
    background-image: url('../images/stock1.jpg');
  }

  50%{
    background-image: url('../images/stock2.jpg');
  }

  100%{
    background-image: url('../images/stock3.jpg');
  }

}