@import url("./reset.css");
@import url("./common.css");

h1 {
    margin-bottom: 20px;
    font-size: 50px;
    color: white;
}
.flex-container {
    width: 100%;
    display: ruby;
    flex-wrap: wrap;
}
#centerpic {
    margin-top: -190px;
    display: block;
    margin-left: 600px;
    margin-right: auto;
    width: 50%;
    object-fit: scale-down;
}
#article-text {
    text-align: left;
    padding-left: 7vw;
    font-size: 30px;
}
.flex-box {
    margin-bottom: 20px;
    background: linear-gradient(rgb(7, 7, 7), rgb(112, 112, 112));
    color: white;
    text-align: left;
    line-height: 50px; /* spaces between lines */
    font-size: 25px;
    border-radius: 20px;
    margin: 20px 0; /* margin for each box */
    padding: 40px;
}
@media only screen and (max-width: 600px) {
    .flex-container {
        flex-direction: column; /* Change to a single column layout */
    }
}