.grid {
    display: grid;
}

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
}

#menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
    right: 0 !important;
}
h1 {
    text-align: center;
    text-decoration: underline;
}
h2 {
    color: beige;
    text-decoration: underline;
}
p {
    color: rgb(241, 222, 222);
}
body {
    font-size: 10px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(rgb(144, 144, 144), rgb(21, 21, 21));
    background-size: cover;
}
img {
    border-radius: 40px;
}
.menu__btn {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}
#site-logo{
    width: 300px;
    height: 140px;
}
footer {
    position: relative; /* Fixed positioning */
    bottom: 0; /* Positioned at the bottom */
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}




.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #616161;
    transition-duration: 0.25s;
}

.menu__btn > span::before {
    content: "";
    top: -8px;
}

.menu__btn > span::after {
    content: "";
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: rgba(236, 239, 241, 0.9);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
    backdrop-filter: blur(5px);
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
}

.menu__item:hover {
    background-color: #cfd8dc;
}
