body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
h1 {
    margin-top: 100px;
}
img {
    padding: 20px;
    border-radius: 30px;
}

.column {
    float: left;
    width: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    box-shadow: 0 4px 8px 0 red;
    margin: 8px;
}

.contact-section {
    text-align: center;
    color: white;
    font-size: large;
    margin-bottom: 50px;
}

.container {
    padding: 0 16px;
    text-align: center;
}

.container h2 {
    text-align: center;
    font-size: large;
}

.container p {
    text-align: center;
    font-size: large;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.column img {
    display: block;
    margin: auto;
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
    margin-top: 100px;
}

@media screen and (max-width: 768px) {
    .column {
        width: 100%;
        display: block;
    }
}

.special-message {
    text-align: center;
    padding: 20px;
    background-color: #a92020;
    font-size: 18px;
    margin-top: 100px;
}

.special-message a {
    color: #ff6f61;
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
}

.special-message a:hover {
    text-decoration: underline;
}

.thank-you-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px #a92020;
    color: rgb(234, 229, 229);
    margin-bottom: 150px;
}

.thank-you-content h1 {
    text-align: center;
    font-size: 32px;
}

.thank-you-content p {
    margin-bottom: 20px;
    font-size: 20px;
}

.thank-you-content h2 {
    color: #ff6f61;
    margin-bottom: 15px;
    font-size: 24px;
}

.thank-you-content strong {
    font-weight: bold;
    color: #333;
}
