body {
    grid-template-areas:
        'header header header header'
        'hero hero hero hero'
        'main main main main'
        'aside aside aside aside'
        'footer footer footer footer'
        
}

#header {
    grid-area: header;
    height: 400px;
    text-align: center;
}

#main {
    grid-area: main;
    height: 50px;
    background-color: rgb(0, 255, 94);
}

#aside {
    grid-area: aside;
    height: 50px;
    background-color: rgb(255, 55, 0);
}

#mainpic {
    width: auto; 
    object-fit: fill;
}

