@import url("./vars.css");
@import url("./reset.css");

 .wrap{
    padding:var(--space);
    text-align: center;
    border: var(--space) solid;
    color : var(--clr-secondary);
    width:500px; 
 }

.image img{
    width: 200px;
    height:200px;
}

img{
    border-radius:5px;
}

.image:hover{
    scale: 1.1;
}

li{
    padding: 5px;
}

.card {
    width: 1350px;
    height:800px;
    padding: var(--space);
    margin-top: var(--space-lg);
    gap: calc(var(--space)*3);
    justify-content: space-around !important;
    display: flex;
    align-items: center;
    padding: 40px;
    margin-left: 12%;
}
h3{
    text-decoration: underline;
    padding:15px;
    font-size: calc(var(--space)*4);
    font-family:'Trebuchet MS', Arial, sans-serif;
}

.button {
    border-style: solid;
    background-color: rgba(136, 143, 185, 0.735);
    padding:var(--space);
    border-radius: var(--space-lg);
    cursor: pointer;

}

.button:hover{
background-color: rgb(128, 138, 146);
}

