@import url("./reset.css");

#profile_pic {
    width: 100px;
    height: 150px;
    margin: 0%;
    padding-bottom: 50px;
    text-align: center;
}

h1 {
    color: white;
    text-align: center;
    font-size: 100px !important;
    text-decoration: solid;
    text-decoration: underline;
}

h2 {
    text-align: center;
}

.header {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 10px;
    height: 100px;
}

footer {
    position: fixed !important; /* Fixed positioning */
    bottom: 0; /* Positioned at the bottom */
    left: 0;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 10px;
}

#bigFont {
    font-size: 30px;
    text-decoration: solid;
    text-decoration: underline;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(rgb(144, 144, 144), rgb(21, 21, 21));
    background-size: cover;
}
.flex-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

#boldUnder {
    text-decoration: solid;
    text-decoration: underline;
    font-size: 50px;
}

.flex-box {
    width: 38vw;
    height: auto;
    background: linear-gradient(Green, Gray);
    color: white;
    text-align: left;
    line-height: 50px; /* spaces between lines */
    font-size: 25px;
    border-radius: 20px;
    margin: 30px;
    margin-top: 3vw;
    padding: 40px;
}

.flex-box-main {
    width: auto;
    height: 500px;
    background: linear-gradient(Green, Gray);
    color: white;
    text-align: center;
    line-height: 50px; /* spaces between lines */
    font-size: 25px;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 30px;
    padding: 40px;
}
@media only screen and (max-width: 600px) {
    .flex-container {
        flex-direction: column; /* Change to a single column layout */
    }
}