@import url("./reset.css");
@import url("./common.css");

p {
    font-size: large;
    line-height: 30px;
}


h1 {
    font-size: 40px;
}
h2 {
    font-size: 40px;
}
footer {
    position: fixed !important; /* Fixed positioning */
    bottom: 0; /* Positioned at the bottom */
    left: 0;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 10px;
}

